/.vscode
/budgeting.PNG
/CREATE TABLE january_jobs AS.sql
/csv_files
/INSERT INTO job_applied.sql
/Januaryjobs.sql
/Practive problem (JOINSSUBQUERIES).sql
/practive1sql.sql
/SELECT.sql
/SELECTROUNDAVF.sql
/sql_course.session.sql
/Subquery.sql
/untitle 60sql.sql
/Untitled-6.sql
/WITH company_job_count AS (.sql
/WITH january_jobs AS (.sql
/WITH remote_job_skills AS (.sql
/__MACOSX